<div class="topContainer">
	<h1>Services</h1>
	<!-- <div>
		<button type="button" class="btn btn-primary" style="text-align: center;"
	        (click)="isCollapsed = !isCollapsed">{{buttonText}}</button>
	</div>
	<div (collapsed)="collapsed($event)"
	     (expanded)="expanded($event)"
	     [collapse]="isCollapsed"-->
	     <div style="min-height=100em; padding: 5px;">
		<div class="well well-lg" style="text-align: center; background-color: white; border: none;">
			<app-tree-graph></app-tree-graph>
		</div>
	</div>
</div>